<div class="card mb-2" (click)="onPokemonItemClicked()">
    <div class="card-body">
        <h4 class="card-title">{{pokemon.name}}</h4>
        <img src={{pokemon.sprites.front_default}} alt="pokemon">
    </div>

</div>