:host {
    cursor: pointer;
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    margin-right: 5px;
    background-color: transparent;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}