<div class="container">
    <h1>The Pokemon Catalogue</h1>

    <app-pokemon-catalogue-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon" (clickPokemon)="onPokemonClicked($event)"></app-pokemon-catalogue-list-item>
</div>