<div class="container">
    <h1>POKEMON</h1>
    <form [formGroup]="registerTrainerForm">

        <div class="form-group">
            <label for="username">Trainer Name</label>
            <input type="text" class="from-control" name="username" id="username" placeholder="Enter your trainer name..." formControlName="username" required minlength="3">
        </div>

        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <p *ngIf="username.errors.required">Username is required</p>
            <p *ngIf="username.errors.minlength">Username must be at least 3 characters long</p>
        </div>

        <button (click)="onLoginClicked()" [disabled]="registerTrainerForm.invalid" type="button">Let's Go!</button>

    </form>
</div>