li {
    background-color: burlywood;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30%;
    text-align: center;
}

.container {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }