<div class="container">
    <button class="btn btn-success mr-2" (click)="onCollectButtonClicked()">Collect</button>
    <button class="btn btn-primary" (click)="onGoBackButton()">Go Back To Catalogue</button>
    <div class="card mb-2">
        <h1 class="card-title">{{pokemon.name}}</h1>
        <p *ngIf="pokemon.types.length===2">{{pokemon.name}} is a {{pokemon.types[0].type.name}} and {{pokemon.types[1].type.name}} type pokemon</p>
        <p *ngIf="pokemon.types.length===1">{{pokemon.name}} is a {{pokemon.types[0].type.name}} type pokemon</p>
        <img class="center" src={{pokemon.sprites.front_default}} alt="pokemon" width="150">
        <h4>Base Stats</h4>
        <ul>
            <li *ngFor="let stat of pokemon.stats">{{stat.stat.name}}: {{stat.base_stat}}</li>
        </ul>
    </div>

    <div class="card mb-2">
        <h2>Profile</h2>
        <p>Height: {{pokemon.height/10}}m</p>
        <p>Weight: {{pokemon.weight/10}}kg</p>
        <h4>Abilities</h4>
        <ul>
            <li *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</li>
        </ul>
        <p>Base Experience: {{pokemon.base_experience}}</p>
    </div>

    <div class="card mb-2">
        <h2>List of moves</h2>
        <ul>
            <li *ngFor="let move of pokemon.moves">{{move.move.name}}</li>
        </ul>
    </div>

</div>