<div class="container">
    <div>
        <h1>Welcome {{username}}!!</h1>
        <button class="btn btn-danger" (click)="onLogOutClicked()">Log Out</button>
    </div>
    <br>
    <h4>Here are your pokemon</h4>
    <app-trainer-page-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon"
        (clickPokemon)="onPokemonClicked($event)"></app-trainer-page-list-item>
</div>